// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    min-height: 100vh!important;
}

.no-resize {
    resize: none;
    overflow: auto;
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    color: rgb(255, 56, 226) !important;
}

.nav-link.active {
    color: rgb(255, 194, 255) !important;
}

.nav-link.active * {
    fill: rgb(255, 194, 255) !important;
    color: rgb(255, 194, 255) !important;
}

.nav-tabs .nav-link {
   color: $primary!important;
    &.active {
        text-decoration: underline!important;
    }
}

